<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciador IOT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <style>
      body {
        background-color: #f3efef;
      }
    </style>

  </head>
  <body>
    <div class="col-md-12 fundo" align="center">
      <div class="d-flex justify-content-center">
        <h1>Olá bem vindo ao gerenciador</h1>
      </div>
    </div>
    <div class="w-100 p3">
        <table class="table">
          <thead class="thead-dark">
            <tr> 
              <th scope="col">Sensor</th>
              <th scope="col">Valor</th>
              <th scope="col">Status</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <th scope="row">Umidade </tr>
                <td> 
                  <h5>{{ umid }}</h5>
                </td>
                <td>
                  <h5>{{led_vermelho}}</h5>
                </td>
                <td>
                  {% if led_vermelho == 'LED vermelho ON' %}
                  <a class="btn btn-primary" href="/led_vermelho/off">Desligar</a>
                  {% else %}
                  <a class="btn btn-primary" href="/led_vermelho/on">Ligar</a>
                  {% endif %}
                </td>
            </tr>
            <tr>
              <th scope="row">Temperatura </tr>
                <td> 
                  <h5>{{ temp }}</h5>
                </td>
                <td>
                  <h5>{{led_verde}}</h5>
                </td>
                <td>
                  {% if led_verde == 'LED verde ON' %}
                  <a class="btn btn-primary" href="/led_verde/off">Desligar</a>
                  {% else %}
                  <a class="btn btn-primary" href="/led_verde/on">Ligar</a>
                  {% endif %}
                </td>
            </tr>
            <tr>
              <th scope="row">Ocupação da Lixeira ----> </th>
              <td>
                <h4> {{ ocup_lixeira }}
              </td>
            </tr>
            <tr>
              <th scope="row">  
                <a class="btn btn-outline-danger" href="/" role="button">Atualizar</a>
              </th>
            <tr>
        </table>
    </div>
  </body>
</html>
